<!DOCTYPE html>
<html>
<head>
  <title>Vemv</title>
  <%= stylesheet_link_tag    "vemv/application", media: "all" %>
  <%= javascript_include_tag "vemv/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
