- remove_button = capture do
  .float-right
    %span.glyphicon.glyphicon-remove.f12{style: 'vertical-align: middle'}

- opts = {only_label: true, caption: visible_name}
- opts.merge!(remove_button: remove_button) if display_removal

.s3-upload-item-wrapper{'data-upload-item-id' => id}
  = field.(:id, as: :hidden, value: id)
  = field.(:filename, opts)