- fixed_at_bottom ||= false

- flash.each do |type, content|
  - messages = Array(content)
  - messages.each do |message|
    %div{:class => "alert #{alert_class_for(type)} #{"fixed_at_bottom" if fixed_at_bottom} fade in"}
      %button.close{"data-dismiss" => "alert"} ×
      = message